/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight-card-text);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-images);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  padding-block: 102px;
}

.content__width {
  max-width: 696px;
}

.header {
  background-color: var(--bg-color);
  font-family: var(--accent-font), fantasy;
  display: grid;
  justify-content: center;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
}

.header__logo {
  font-size: clamp(3.063rem, 1.894rem + 4.984vw, 4.063rem);
  padding-block-start: clamp(7.5rem, 6.3585rem + 4.9231vw, 8.5rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.218rem + 2.804vw, 1.438rem);
  text-align: center;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  padding-block-end: 25px;
}

.theme-menu__item:not(:first-child) {
  margin-block-start: 10px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  padding-inline-start: 25px;
  transition: 0.3s ease;
  outline: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::after {
  position: absolute;
  font-family: var(--accent-font), fantasy;
  content: "▶";
  left: 6px;
  top: 0px;
  animation: strelka 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.content {
  margin-block-start: 100px;
}

.content__list-item {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  margin-block-end: 50px;
}

.img__wrraper {
  position: relative;
}

.img__lebel {
  position: absolute;
  top: clamp(1.438rem, 1.218rem + 0.935vw, 1.625rem);
  right: clamp(0.688rem, -0.043rem + 3.115vw, 1.313rem);
  font-family: var(--accent-font), fantasy;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color);
)) {
  .img__lebel {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.content__img {
  max-width: 100%;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-invert {
  filter: invert(40%);
}

.filter-saturate {
  filter: saturate(90%);
}

.filter-sepia {
  filter: sepia(0.6);
}

.filter-blur {
  filter: blur(3px);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-multiple {
  filter: opacity(90%) brightness(50%);
}

.list-item__title {
  font-size: 18px;
  padding-inline-start: 9px;
  padding-inline-end: 10px;
  padding-block-start: 4px;
  padding-block-end: 6px;
  line-height: normal;
  font-variation-settings: "wght" var(--main-font-weight-card-title);
}

.list-item__text {
  font-size: 18px;
  line-height: 21px;
}

.list-item__text {
  padding-block-start: 20px;
  padding-inline-end: 26px;
  padding-inline-start: 24px;
  padding-block-end: 6px;
}

.card__button {
  display: flex;
  justify-content: end;
  margin-block-start: 20px;
  padding-block-end: 25px;
  margin-inline-end: 26px;
}

.content__button {
  background-color: var(--bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.content__button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.content__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.content__button::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--hover-button-bg);
  translate: -100%;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  transition: 0.5s translate ease-in-out;
}

.content__button:hover::after {
  translate: 0;
}

.card__like-button {
  padding-block: 0;
  padding-inline: 0;
  min-width: 130px;
  max-height: 38px;
}

.card__icon-button {
  display: grid;
  justify-content: center;
  background-color: transparent;
  border: none;
  max-height: 38px;
  padding: 0;
  margin-inline-end: 6px;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.content__save {
  display: grid;
  justify-content: center;
}

.save__button {
  display: grid;
  justify-items: center;
  position: relative;
  overflow: hidden;
  min-width: 309px;
}

.save__button .floppy {
  width: 29px;
  height: 29px;
  margin-block-start: 15px;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
}

.save__button .button__text {
  padding-block-end: 15px;
  padding-block-start: 6px;
}

.dialog {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding-inline: 38px;
  padding-block: 32px;
  display: grid;
  grid-template-columns: 39px auto;
  grid-template-rows: auto;
  column-gap: 20px;
  width: clamp(21.313rem, 20.259rem + 4.72vw, 22.313rem);
  min-width: 341px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--backdrop-color, #000);
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog .floppy {
  width: 39px;
  height: 39px;
  color: var(--accent-color);
  grid-column: 1/2;
  grid-row: 1/2;
  margin-block-start: 10px;
}

.dialog__title {
  color: var(--accent-color);
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: var(--accent-font), fantasy;
  line-height: 150%;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 198px;
}

.dialog__form {
  grid-column: 1/3;
}

.dialog__button {
  background-color: var(--bg-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  padding-block: 9px;
  margin-block-start: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (width > 375px) {
  .save__button {
    display: flex;
    min-width: 338px;
  }

  .save__button .floppy {
    width: 21px;
    height: 21px;
    margin-inline-start: 13px;
  }

  .save__button .button__text {
    margin-inline-start: 8px;
    padding-block-start: 18px;
    padding-block-end: 17px;
  }
}
